body {
    background-color: black ;
}

h1 {
    text-align: center;
    color: gold;
}

canvas {
    display: block;
    position: absolute;
    top: 50;
    left: 50;
    transform: translateX(5%);
    margin: 50px auto;
    border: 5px goldenrod solid;
}